<ion-view view-title="Explore">

  <ion-content>
    <section class="main-section first-section">
      <div class="section-text">
        <span class="head-text"><p>Xeritopia</p></span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </div>
    </section>
    <section class="main-section second-section">
      <div class="section-text">
       <span class="head-text"><p>Xeritopia</p></span>
       <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </div>
    </section>
    <section class="main-section third-section">
      <div class="section-text">
       <span class="head-text"><p>Xeritopia</p></span>
       <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </div>
    </section>
    <section class="main-section fourth-section">
      <div class="section-text">
        <span class="head-text"><p>Xeritopia</p></span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </div>
    </section>
  </ion-content>
</ion-view>
