<ion-view view-title="Explore">
  <ion-content>
    <!-- <input type="checkbox" id="open-menu">
    <label for="open-menu">
      <div class="hamburger-menu">
        <div class="menu-line line-1"></div>
        <div class="menu-line line-2"></div>
        <div class="menu-line line-3"></div>
      </div>
   </label>
   <section class="mobile-menu">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit.
   </section> -->
    <section class="main-section first-section">
      <div class="section-text">
        <span class="head-text"><p>Xeritopia</p></span>
        <span>Planting the seeds of progress to develop<br> water-intelligent communities.</span>
      </div>
    </section>
    <section class="main-section second-section">
      <div class="section-text">
       <span class="lead-text"><p>About Xeriscaping<br>in Austin</p></span>
       <i class="icon ion-ribbon-b"></i>
       <p class="icon-caption">Government Rebates</p>
       <p class="info-text">Rebates available for Austin homeowners willing to use water-intelligent
         guidelines to enhance their lawns</p>
       <a href="#" class="learn-more-link">Learn More</a>
      </div>
    </section>
    <section class="main-section third-section">
      <div class="section-text">
        <span class="lead-text"><p>About Xeriscaping<br>in Austin</p></span>
        <i class="icon ion-waterdrop"></i>
        <p class="icon-caption">Water Conservation</p>
        <p class="info-text">Xeriscaping means saving water normally spent for irrigation, which can go a long way.</p>
        <a href="#" class="learn-more-link">Learn More</a>
      </div>
    </section>
    <section class="main-section fourth-section">
      <div class="section-text">
        <span class="lead-text"><p>About Xeriscaping<br>in Austin</p></span>
        <i class="icon ion-social-usd"></i>
        <p class="icon-caption">Save Money</p>
        <p class="info-text">A rebate for xeriscaping your yard <span class="italics">and</span> conserving water normally spent on irrigation
        is money that goes in your pocket <span class="italics">and</span> stays in your pocket.</p>
        <a href="#" class="learn-more-link">Learn More</a>
      </div>
    </section>
    <section class="main-section fifth-section">
      <div class="section-text">
        <span class="lead-text"><p>Xeriscaping<br>Resources</p></span>
        <i class="icon ion-leaf"></i>
        <p class="icon-caption">Native Plants</p>
        <p class="info-text">Explore the plants native to the Austin area to begin building your garden.</p>
        <a href="#" class="learn-more-link">Explore</a>
      </div>
    </section>
    <footer class="main-section footer-section">
      <div class="section-text">
        <span class="lead-text"><p>Connect</p></span>
        <p class="icon-caption">Follow Xerotopia<br> for updates</p>
        <div class="footer-icons">
          <i class="icon ion-social-instagram"></i>
          <i class="icon ion-social-twitter"></i>
        </div>
      </div>
    </footer>
  </ion-content>
</ion-view>
